## Deliverable 3. Create a Travel Itinerary Map.

In [17]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [18]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Hobart,AU,62.60,clear sky,-42.8794,147.3294,Mantra on Collins Hobart
1,6,Bowen,AU,68.00,light rain,-20.0167,148.2333,Castle Motor Lodge Motel
2,7,Hilo,US,73.99,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
3,8,Butaritari,KI,81.19,light rain,3.0707,172.7902,Isles Sunset Lodge
4,13,Mitsamiouli,KM,82.42,light rain,-11.3847,43.2844,Foyer ADM

In [27]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.

#=== substituted clean_hotel_df with vacation_df
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [28]:
# 4a. Add a marker layer for each city to the map.
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
figure_layout = {
    'width': '800px',
    'height': '400px',
    'border': '2px solid black',
    'padding': '.5px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
fig.add_layer(markers)
#plt.savefig("WeatherPY_vacation_map.png")
fig

Figure(layout=FigureLayout(border='2px solid black', height='400px', margin='0 auto 0 auto', padding='.5px', w…

In [54]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Ratnagiri"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Ratnagiri"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Yanam"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Gumla"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Seoni Malwa"]
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
204,389,Seoni Malwa,IN,82.09,clear sky,22.45,77.4667,hotel naman residency

In [55]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]

In [56]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,458,Ratnagiri,IN,77.70,clear sky,16.9833,73.3000,Hotel Landmark
1,570,Yanam,IN,77.32,overcast clouds,16.7333,82.2167,The Regency Hotel
2,187,Gumla,IN,73.22,clear sky,23.0500,84.5500,Hotel Bindesh - Chulhani - Best Hotel and Rest...
3,389,Seoni Malwa,IN,82.09,clear sky,22.4500,77.4667,hotel naman residency

In [58]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [64]:
# 11a. Add a marker layer for each city to the map.
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
figure_layout = {
    'width': '1000px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '.5px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
fig.add_layer(markers)
#plt.savefig("WeatherPY_vacation_map.png")
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='.5px', w…